//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&family=Ubuntu:wght@400;500;700&display=swap";
$baseFontFamily: "Ubuntu", sans-serif;
$secondaryFontFamily: "Poppins", sans-serif;
$titleFontFamily: "";
$subtitleFontFamily: "";
$baseFontSize: 16px;

// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";
$mobile: 600px;
$mobile-xs: 400px;

// Colors
$black: #28282a;
$white: #ffffff;
$purple: #7828e6;
$red: #e63a28;
$orange: #ffeaa2;
