.filter {
  background: linear-gradient(
    105deg,
    #4280cf 0%,
    #3975c0 8.12%,
    #0c315f 45.1%,
    #0a2444 58.65%,
    #03234b 81.56%,
    #4280cf 100%
  );

  &__box {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    font-family: $secondaryFontFamily;
    color: $white;
    line-height: 24px;
  }

  &__block {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__show {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    line-height: 25px;
    color: $white;
    font-family: $secondaryFontFamily;
  }

  &__input {
    background: $white;
    width: 55px;
    height: 44px;
    font-size: 20px;
    text-align: center;
    color: #9f9f9f;
  }

  &__subtitle {
    font-family: $secondaryFontFamily;
    color: $white;
    line-height: 25px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    background: $white;
    color: #113869;
    font-weight: 500;
    font-size: rem(16px);
    cursor: pointer;
    text-transform: uppercase;
  }
}
