.questions {
  padding-top: 45px;
  padding-bottom: 45px;

  &__cards {
    margin-top: 40px;
    display: grid;
    gap: 15px;
  }

  &__card {
    padding: 16px;
    border-radius: 8px;
    background: #fafafa;
    height: max-content;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    gap: 16px;
  }

  &__card-title {
    font-family: $secondaryFontFamily;
    color: #113869;
    font-size: rem(17px);
    line-height: 24px;
    font-weight: 600;
  }

  &__img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    min-width: 24px;
    transition: all 0.3s;
  }

  &__text {
    margin-top: 25px;
    color: #747474;
    line-height: 24px;
  }

  &__plus {
    rotate: 45deg;
  }
}
