.footer {
  &__container {
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__subtitle {
    margin: 32px 0 32px 0;
    max-width: 400px;
    line-height: 40px;
    font-size: rem(24px);
  }

  &__nav-title {
    font-size: rem(24px);
  }
}
