.header {
  gap: 30px;

  &__burger {
    display: none;
  }

  &__nav {
    display: block;
    margin-left: auto;

    &_link {
      cursor: pointer;
      color: $white;

      padding: 8px;
      transition: all 300ms;
      &:hover {
        background-color: $white;
        color: #113869;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &-box__item {
    position: relative;
  }

  &__title {
    display: block;
  }

  &__label {
    border-radius: 24px;
    position: absolute;
    padding: 4px 6px;
    background: #e01111;
    color: $white;
    top: -10px;
    left: -36px;
    font-size: 10px;
    font-weight: 500;
  }
}
