.product-page {
  &__block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__cards {
    gap: 20px;
  }
}

.product-description {
  &__title {
    font-size: rem(24px);
    line-height: 30px;
  }
}
